* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  align-items: center;
  font-size: 11px;
  padding: 15px;
  a {
    text-decoration: none;
    color: #5f6368;
  }
}

.head_link {
  margin-left: 7px;
  margin-right: 80px;
  a {
    color: blue;
  }
}

.nav_links li {
  list-style-type: none;
  display: inline-block;
  padding: 0px;
  padding-inline-start: 0;
  margin-left: 25px;
}

.header_hr {
  border: 0;
  border-bottom: 1px solid rgb(247, 247, 247);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 0;
}

.paragraph {
  text-align: center;
  margin-bottom: 15px;
  h1 {
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin-top: 25px;
    padding: 10px;
    word-spacing: 2px;
  }
  p span {
    display: block;
    font-size: 14px;
  }
}


// .wrapper{
//   width: 100%;
// }



// Slides

.second-image{
  display: none;
}

.first, .second {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 25px;

  .text {
    margin-left: 10px;
    margin-top: -130px;
    padding: 30px;
    h4{
      font-weight: 100;
    }
    .data {
      p {
        margin-top: 28px;
      }
      p span {
        display: block;
        font-size: 12px;
      }
    }
    .link {
      margin-top: 20px;
      font-size: 12px;
      a {
        color: blue;
      }
    }
  }
}


// Arrow Buttons

.next-btn,
.prev-btn{
  background-color: #eeee;
  padding: 10px;
  border-radius: 50%;
  position: fixed;
  top: 53%;
  font-size: 13px;
  z-index: 100;
  cursor: pointer;
  transition: 400ms;
}

.next-btn:hover,
.prev-btn:hover{
  background-color: lightgray;
}

.prev-btn{
  left: 245px;
}

.next-btn{
  right: 230px;
}


// Navigation dots
.navigation-dots{
  display: flex;
  height: 12px;
  align-items: center;
  justify-content: center;
  // margin: 1px 0;
}

.single-dot{
  // background-color: #333;
  height: 6px;
  width: 6px;
  border: 2px solid rgb(100, 100, 100);
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  transition: 400ms;
}

.single-dot.passive{
  background-color: #333;
}

.single-dot.active{
  background-color: #eee;
}


.white{
  background-color: #eee;
}

.black{
  background-color: #333;
}


.slider{
  position: relative;
  width: 100%;
}